body{
    background-image: url(woodbg.jpg) ;
    margin: 0;
    background-attachment: fixed;
    background-size: cover;
}

.panel{
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.panelbg{
    background-image: url(bgpanel.jpg);
    border-radius: 5px;
    background-repeat: none;
    background-attachment: fixed;
    background-size: cover;
}

.panelborde{
    border-radius: 10px;
}

* Inactive/Active Default input field color */
    .input-field input[type]:not([readonly]),
    .input-field input[type]:focus:not([readonly]),
    .input-field textarea:not([readonly]),
    .input-field textarea:focus:not([readonly]) {
        border-bottom: 1px solid #000000;
        box-shadow: 0 1px 0 0 #000000;
        font-size: large;
        font-family: 'Montserrat', sans-serif;
    }

    /* Inactive/Active Default input label color */
    .input-field input[type]:focus:not([readonly])+label,
    .input-field textarea:focus:not([readonly])+label {
        color: #ffffff;
        font-size: large;
        font-family: 'Montserrat', sans-serif;
    }

    /* Active/Inactive Invalid input field colors */
    .input-field input[type].invalid,
    .input-field input[type].invalid:focus,
    .input-field textarea.invalid,
    .input-field textarea.invalid:focus {
        border-bottom: 1px solid red;
        box-shadow: 0 1px 0 0 red;
        font-size: large;
        font-family: 'Montserrat', sans-serif;
    }

    /* Active/Inactive Invalid input label color */
    .input-field input[type].invalid:focus+label,
    .input-field input[type].invalid~.helper-text::after,
    .input-field input[type].invalid:focus~.helper-text::after, 
    .input-field textarea.invalid:focus+label,
    .input-field textarea.invalid~.helper-text::after,
    .input-field textarea.invalid:focus~.helper-text::after {
        color: #ffffff;
        font-size: large;
        font-family: 'Montserrat', sans-serif;
    }

    /* Active/Inactive Valid input field color */
    .input-field input[type].valid,
    .input-field input[type].valid:focus,
    .input-field textarea.valid,
    .input-field textarea.valid:focus {
        border-bottom: 1px solid #ffffff;
        box-shadow: 0 1px 0 0 #ffffff;
        font-size: large;
        font-family: 'Montserrat', sans-serif;
    }

    /* Active/Inactive Valid input label color */
    .input-field input[type].valid:focus+label,
    .input-field input[type].valid~.helper-text::after,
    .input-field input[type].valid:focus~.helper-text::after,
    .input-field textarea.valid:focus+label,
    .input-field textarea.valid~.helper-text::after,
    .input-field textarea.valid:focus~.helper-text::after {
        color: #ffffff;
        font-size: large;
        font-family: 'Montserrat', sans-serif;
    }

    input:not([type]):focus:not([readonly]), input[type="text"]:not(.browser-default):focus:not([readonly]), input[type="password"]:not(.browser-default):focus:not([readonly]), input[type="email"]:not(.browser-default):focus:not([readonly]), input[type="url"]:not(.browser-default):focus:not([readonly]), input[type="time"]:not(.browser-default):focus:not([readonly]), input[type="date"]:not(.browser-default):focus:not([readonly]), input[type="datetime"]:not(.browser-default):focus:not([readonly]), input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), input[type="tel"]:not(.browser-default):focus:not([readonly]), input[type="number"]:not(.browser-default):focus:not([readonly]), input[type="search"]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
        border-bottom: 1px solid black;
        -webkit-box-shadow: 0 10px 0 0 black;
        box-shadow: 0 1px 0 0 rgb(0, 0, 0);
        font-size: large;
        color: white;
        font-family: 'Montserrat', sans-serif;
    }

    .btn{
        background-color: rgb(206, 206, 206);
        font-size: medium;
        color: #000;      
    }

    .btn:hover{
        background-color: #666666;
        color: white;
        font-size: 18px;
    }

    .texto{
        font-family: 'Montserrat', sans-serif;
        color: rgb(204, 204, 204);
    }
      
    ul.dropdown-content.select-dropdown li span {
        color: #000; /* no need for !important :) */
    }

    .valid {
        color: green;
      }     
    
    .invalid {
        color: red;
      }

    input[type="password"]{
        color: black; 
    }
    input[type="text"]{
        color: white; 
    }

    .row .col{
        float: none !important;
        margin-left: auto;
        margin-right: auto;
      }